@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap");

.major {
  background-image: url("../../images/home3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  margin-top: -4.5rem;
  height: 1041px;
}

.containerForm {
  position: absolute;
  width: 600px;
  height: 580px;
  margin-top: 250px;
  margin-left: 43rem;
  background-image: url("http://www.imgbase.info/images/safe-wallpapers/digital_art/1_miscellaneous_digital_art/41750_1_miscellaneous_digital_art_simple_dark_shapes.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -600%;
  background-color: #d4a373;
  border-radius: 2rem;
  color: black;
  box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.5);
}

h1 {
  margin-left: 11rem;
  margin-top: -4.5rem;
  margin-bottom: 0.5rem;
  font-family: "The Nautigal";
  font-size: 60px;
}

.closebtn .li {
  margin: 20px;
  font-size: 18px;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}

.closebtn .li .LinkForm {
  text-decoration: none;
}

.closebtn .li .LinkForm img {
  position: relative;
  width: 3rem;
  height: 3rem;
  margin-top: -1rem;
  margin-left: -1rem;
}

.form .actName input {
  position: relative;
  padding: 5px;
  border: none;
  margin-top: 40px;
  margin-left: 7.2rem;
  font-size: 15px;
  border: 1px solid #ccc;
  outline: #365b77;
  border-radius: 10px;
  cursor: pointer;
}

.form .actName label {
  position: relative;
  margin-left: 16rem;
}

.error {
  margin-top: -1.5rem;
  margin-left: 14rem;
  margin-bottom: 0.5rem;
  font-size: 20px;
}

.form .actDifficult label {
  position: relative;
  padding: 5px;
  border: none;
  margin-top: 0px;
  margin-right: 50px;
  margin-left: 60px;
}

.diffi {
  margin-left: 15rem;
}

.dif {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.actDuration .dur input {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 2.5rem;
  margin-left: 7.5rem;
}

.duration {
  margin-left: 19rem;
}

.season .sea {
  display: flex;
  position: relative;
  margin-top: -0rem;
  margin-left: 19.5rem;
  padding-bottom: 1.5rem;
}

.season .se {
  display: flex;
  position: absolute;
}

.season .se label input {
  display: flex;
  position: relative;
  margin-bottom: -1.5rem;
  margin-top: 0.8rem;
  margin-left: 7rem;
}

.season .se label p {
  position: absolute;
  margin-left: 8.7rem;
}

.season .se label .temp {
  margin-left: 7.5rem;
}

.cou {
  position: absolute;
  margin-top: 3rem;
  margin-left: 12rem;
}

.country {
  margin-top: 2rem;
  margin-left: 7rem;
}

.selectores select {
  border-radius: 2rem;
  border: none;
  width: 15rem;
  margin-left: 2rem;
}

.errorDif {
  margin-left: 12rem;
  font-size: 20px;
}

.errorDur {
  position: absolute;
  margin-top: -1.8rem;
  margin-left: 10rem;
  font-size: 20px;
}

.errorSeason {
  position: absolute;
  margin-top: 1.5rem;
  margin-left: 13rem;
  font-size: 20px;
}

.container1 {
  background-color: #bc6b25a6;
  position: absolute;
  left: -80px;
  right: -30px;
  width: 750px;
  height: 475px;
  padding: 30px;
  border-radius: 2rem;
  color: black;
  box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.4);
  font-family: "Ubuntu";
  font-size: 18px;
}

.container1:after {
  position: absolute;
  content: "";
  right: -10px;
  bottom: 80px;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #d4a373;
}

.container1 h4 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 28px;
}

.container1 input {
  position: absolute;
  bottom: 30px;
  border: none;
  border-bottom: 1px solid #d4d4d4;
  padding: 10px;
  width: 65%;
  background: transparent;
  transition: all 0.25s ease;
}

.container1 input:focus {
  outline: none;
  border-bottom: 1px solid #d4a373;
}

.container1 .submitbtn {
  position: absolute;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: #d4a373;
  font-family: "Ubuntu";
  color: #432818;
  padding: 12px 25px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  right: -10px;
  bottom: 30px;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: -5px 6px 20px 0px rgba(51, 51, 51, 0.4);
}

.container1 .submitbtn:hover {
  background-color: #d4a373;
}

.countrySelecto {
  background-color: white;
  color: #000;
  position: absolute;
  margin-top: -17rem;
  margin-left: -18rem;
  border-radius: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-family: "Ubuntu";
}

.countrySelecto p {
  position: relative;
  margin-left: -1rem;
  padding-left: -1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  font-family: "Ubuntu";
}

.countrySelecto button {
  border-radius: 0.5rem;
  background-color: #8e62dc;
  color: white;
  font-family: "Ubuntu";
}
