* {
  box-sizing: border-box;
}

.container {
  background-image: url("../images/home3.jpg");
  align-items: center;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.nav_bar {
  margin-top: -1rem;
}

::-webkit-scrollbar {
  width: 10px;
  height: 15px;
  background-color: rgb(63, 35, 4);
}

::-webkit-scrollbar-thumb {
  background: rgba(214, 197, 142, 0.541);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(236, 184, 13, 0.5);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(236, 184, 13, 0.705);
}

.filterPopu {
  position: absolute;
  margin-top: -5rem;
  margin-left: -10rem;
  border-radius: 2rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  background-color: rgba(250, 235, 215, 0.5);
  font-family: "Ubuntu";
  font-size: 14px;
}

.filterName {
  position: absolute;
  margin-top: -5rem;
  margin-left: 2rem;
  border-radius: 2rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  background-color: rgba(250, 235, 215, 0.5);
  font-family: "Ubuntu";
  font-size: 14px;
}

.filterContinent {
  position: absolute;
  margin-top: -5rem;
  margin-left: 12rem;
  border-radius: 2rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  background-color: rgba(250, 235, 215, 0.5);
  font-family: "Ubuntu";
  font-size: 14px;
}

.filterAct {
  position: absolute;
  margin-top: -5rem;
  margin-left: 22rem;
  border-radius: 2rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  background-color: rgba(250, 235, 215, 0.5);
  font-family: "Ubuntu";
  font-size: 14px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.buttonRecarga {
  margin-top: 1rem;
  width: 1px;
  height: 1px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.imgRecarga {
  position: absolute;
  margin: -15px 850px;
  border-radius: 2px;
}

.notFound h1 {
  position: absolute;
  font-family: "Ubuntu";
  font-size: 100px;
  margin-top: 15rem;
  margin-left: -10rem;
}

.notFound h3 {
  font-family: "Ubuntu";
  font-size: 100px;
  margin-top: 22rem;
  margin-left: 2rem;
}

@media (max-width: 420px) {
  .container {
  }
}
