@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap");

nav {
  width: 99.5vw;
  height: 8vh;
  margin: 1rem auto;
  background: #fff;
  padding: 10px 0;
  box-shadow: 0px 5px 0px #dedede;
  font-family: "Ubuntu";
  text-decoration: none;
}

.linkNav {
  text-decoration: none;
}

.text {
  font-family: "The Nautigal";
  color: #555;
  font-size: 55px;
  position: absolute;
  margin-top: -0.5rem;
  margin-left: 1rem;
}

.ab {
  position: absolute;
  margin-left: 20rem;
}

.crea {
  position: absolute;
  margin-left: -20rem;
}

nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
}
nav ul li span {
  display: flex;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-right: 350px;
}
nav ul li span,
nav ul li span:after,
nav ul li span:before {
  transition: all 0.5s;
}
nav ul li span:hover {
  color: #555;
}

nav.stroke ul li span,
nav.fill ul li span {
  position: relative;
}
nav.stroke ul li span:after,
nav.fill ul li span:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #333;
  height: 1px;
}
nav.stroke ul li span:hover:after {
  width: 100%;
}

nav.fill ul li span {
  transition: all 2s;
}

nav.fill ul li span:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
  text-decoration: none;
}
nav.fill ul li span:hover {
  color: #023f1c;
  z-index: 1;
}
nav.fill ul li span:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
